@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'BeVietnam-Medium';
  src: url('/fonts/BeVietnam-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.custombevietnam{
  font-family: 'BeVietnam-Medium';
}

@font-face{
  font-family: 'BigShoulderDisplay-Black';
  src: url('/fonts/BigShouldersDisplay-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}
.bigshoulderdisplay{
  font-family: 'BigShoulderDisplay-Black';
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: thin;
}


